.candidate {
    &-snippet {
        max-width: 60rem;
        max-height: 80rem;
        overflow: auto;
        &-header {
            display: flex;
            cursor: pointer;
            img {
                object-fit: cover;
                height: 10rem;
                border-radius: 100%;
                width: 10rem;
            }

            align-items: center;

            div {
                h3 {
                    &:first-child {
                        margin: 0 auto;
                        font-size: 1.8rem;
                    }

                    &:last-child {
                        margin: 0.8rem auto;
                        font-size: 1.4rem;
                        color: rgba($secondaryColor, 0.4);
                    }
                }

                margin-left: 2rem;
                // display: block;
            }
        }

        box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.4);
        padding:2rem;
        
        border-radius: 1rem;
        &-heading {
            align-items: center;
            font-weight: 600;
            font-size: 1.6rem;

            * {

                // margin-bottom: 0;
            }

            p {
                margin-left: 1rem;
            }

            display: flex;
        }

        &-opposes,
        &-advocates {
            max-height: 30rem;
            padding-right: 2rem;
            overflow: auto;

            &-more {
                display: block;

                width: 100%;
                font-size: 1.2rem;
                cursor: pointer;
                color: rgba($secondaryColor, 0.7);
            }

            div {
                font-size: 1.2rem;

                p {
                    margin: 0 1rem;
                }

                padding:1rem;
                box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.4);
                display: flex;
                margin: 1rem 1rem 0 0;
                border-radius: 1rem;
                align-items: center;
            }

            margin: 0rem auto 2rem;
            display: flex;
            flex-wrap: wrap;
            // grid-template-columns: 1fr 1fr 1fr;
        }
    }
}