.dashboard {
    padding: 2rem;

    &-header {
        &-name {
            font-size: 2.4rem;
            margin-bottom: 1rem;
        }

        &-welcome {
            margin-top: 0;
            font-size: 1.6rem;
        }

        margin-bottom: 4rem;
    }

    &-row {
        margin: 2rem 0 6rem;
        display: flex;
        width: 100%;
        align-items: flex-start;
        // max-width: 70rem;
        // justify-content: space-between;

        &-mod {
            h3 {
                padding: 0 0 2rem;
                border-bottom: 1px solid $tertiaryColor;
                margin: 1.4rem 0 0;
            }

            &-container {
                max-height: 30rem;
                overflow: auto;
                width: calc(100% - 2rem);
                padding: 0 1rem;
                margin: 1rem 0;
                &-each {
                    &-name {
                        text-align: left;
                        width: 17rem;
                        font-weight: 400;
                        font-size: 1.4rem;
                    }

                    &-admin {
                        text-align: left;
                        width: 9rem;
                        // width: 2rem;
                        font-weight: 400;
                        font-size: 1.4rem;
                    }

                    display: flex;
                    width: calc(100% - 2rem);
                    justify-content: space-between;
                    align-items: center;

                    &:not(:last-child) {
                        border-bottom: 1px solid $tertiaryColor;
                    }

                    padding: 0 1rem;

                    &-img {
                        width: 4rem;
                        margin: 2rem 0;
                        border-radius: 100%;
                    }
                }

                &::-webkit-scrollbar {
                    width: .5rem;
                }
            }

            min-width: 38rem;
            margin-right: 4rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            padding: 1rem 1.4rem;
            // min-width: 15rem;
            border-radius: 1rem;

        }

        &-item {
            &-header {
                font-size: 1.4rem;
                // font-weight: 500;
                color: rgba($secondaryColor, 0.8);
            }

            p {
                font-size: 1.5rem;
            }

            margin-right: 4rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
            padding: 1rem 1.4rem;
            min-width: 15rem;
            border-radius: 1rem;
        }
    }

    &-title {
        font-size: 1.7rem;
        font-weight: 600;
    }

    // display: flex;
}