.home {
    padding: 4rem;
    
    @include respond(tablet) {
        padding:4rem .2rem;
    }

    h3 {
        font-size: 2rem;
    }

    &-header {
        display: flex;

        @include respond(tablet) {
            display: block;
        }

        width: 100%;
        align-items: flex-start;
        justify-content: space-between;

        &-para {
            &-success {
                padding: 1.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 1rem;
                }

                border-radius: .75rem;
                box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.2);
            }

            &-general {
                padding: 1.5rem;
                font-size: 1.2rem;

                display: flex;
                align-items: center;

                svg {
                    margin-right: 1rem;
                }

                border-radius: .75rem;
                box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.2);
            }
        }

        &-top {

            &-input {
                @include respond(phone) {
                    margin-bottom: 2rem;
                    display: block;
                }
                @include respond(tablet){
                    width: auto;;
                }
                width: 55rem;
                margin-top: 1rem;
                justify-content: space-between;
                display: flex;

                &-election {
                    .profile-dropdown {
                        background-color: #fff !important;
                        border: none !important;
                        height: 40rem !important;
                    }

                    &-text {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    &-dropdown {
                        border: none !important;
                        min-width: 20rem;
                        border-radius: 1rem;
                        background-color: transparent !important;
                        font-size: 1.4rem;

                        padding-left: 1rem;

                        p {

                            display: flex;
                            position: relative;
                            align-items: center;
                            justify-content: space-between;
                        }

                        span {
                            position: absolute;
                            right: 0;
                            top: 40%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    width: 15rem;

                }

                &-each {
                    @include respond(phone) {
                        
                    }
                    &-text {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    width: 25rem;
                }
            }
            @include respond(tablet) {
                margin: 0 0 3rem;
                // display: block;
            }
            &-name {
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }

    &-elections {
        &-container {
            @include respond(tablet) {

                justify-content: center;
                ;
                grid-template-columns: 1fr 1fr;
                // padding: 0 2.4rem;
            }

            @include respond(phone) {

                justify-content: center;
                ;
                grid-template-columns: 1fr;
                // padding: 0 2.4rem;
            }
            display: grid;
            grid-gap: 4rem;
            grid-template-columns: 1fr 1fr 1fr;
        }

        // display: flex;
        width: calc(100% - 4rem);
    }
}