.button {
    &-large {
        color: $primaryColor;
        border-radius: 1rem;
        padding:1rem;
        cursor: pointer;
        font-size: 1.8rem;
        background-color: #000;
        transition: all 0.2s !important;
        &:hover{
            // transform: scale(1.02);
        }
    }
}