@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.button-assessment {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 22rem;
  text-decoration: none;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #000;
  transition: all 0.2s !important;
}
.button-assessment p {
  margin: 0;
}
.button-assessment:hover {
  transform: scale(1.02);
}
.button-large {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #000;
  transition: all 0.2s !important;
}
.button-large p {
  display: inline;
}
.button-sm {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: block;
  margin: 6rem auto 3rem;
  width: 20rem;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #000;
  transition: all 0.2s !important;
}
.button-sm p {
  display: inline;
}
.button-sm:hover {
  transform: scale(1.02);
}

.input {
  border: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  font-size: 1.6rem;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  height: 3rem;
}
.input-hidden {
  display: none;
}
.input:focus {
  outline: none;
}

.sidebar {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  height: calc(100vh - 4rem);
  padding: 2rem 1rem;
}
.sidebar-each {
  position: relative;
  width: 100%;
  text-align: center;
}
.sidebar-each:hover .sidebar-each-toolkit {
  opacity: 1;
  transform: translate(5rem, 0%);
}
.sidebar-each-toolkit {
  transition: opacity 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-200%, 0%);
  z-index: 4;
  opacity: 0;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 1rem;
  width: 10rem;
}
.sidebar-each-toolkit-each {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  align-items: center !important;
  text-decoration: none !important;
  width: 100%;
  font-size: 1.4rem !important;
  text-align: left;
  transition: all 0.2s;
  font-weight: 400;
  padding: 1rem 0.1rem;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
}
.sidebar-each-toolkit-each-image {
  border-radius: 100%;
  width: 2.4rem;
  font-size: 2rem !important;
  object-fit: cover;
}
.sidebar-each-toolkit-each p {
  margin: 0 1rem 0;
}
.sidebar-each-toolkit-each:not(:last-child) {
  border-bottom: 0.5px solid #AEAEAE;
}
.sidebar-each-toolkit-each:hover {
  font-size: 1.45rem !important;
}
.sidebar-icon {
  margin: 1.5rem auto;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 2.5rem !important;
  color: #B8B8B8;
}
.sidebar-icon-selected {
  filter: brightness(0.1) sepia(0.2) hue-rotate(0deg) saturate(0);
}
.sidebar-icon-active {
  filter: brightness(0.1) sepia(0.2) hue-rotate(0deg) saturate(0);
}
.sidebar-icon:hover {
  transform: scale(1.2);
  filter: brightness(0.1) sepia(0.2) hue-rotate(0deg) saturate(0);
}

.auth {
  max-width: 50rem;
  margin: 0 auto;
  padding: 6rem 0;
  overflow: auto;
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.auth-2 {
  justify-content: flex-start;
}
.auth-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start !important;
  text-decoration: none !important;
}
.auth-back-text {
  margin-left: 0.5rem;
  font-weight: 600;
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.8rem;
}
.auth-back-text:hover {
  color: black;
}
.auth-header {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
}
.auth-redirect {
  font-size: 1.8rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.auth-redirect-link {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.auth-redirect-link:hover {
  color: black;
}
.auth-google {
  width: 9rem;
  padding: 2rem;
  margin: 2rem auto !important;
}
.auth-google-icon {
  cursor: pointer;
  transition: all 0.2s !important;
  font-size: 4rem !important;
}
.auth-google-icon:hover {
  color: #000000;
  transform: scale(1.1);
}
.auth-google-or {
  font-size: 2rem;
  margin: auto auto 1rem;
}
.auth-form {
  text-align: left;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.auth-form-alert {
  align-self: end;
  color: #FF0000;
  font-size: 1.6rem;
}
.auth-form-user {
  margin: 0 auto 3rem;
  text-align: center;
}
.auth-form-user p {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem auto;
}
.auth-form-user img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 15rem;
}
.auth-form-title-2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem auto 4rem;
}
.auth-form-title {
  font-size: 2rem;
  font-weight: 700;
}
.auth-form-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.auth-form-forgot {
  margin: 1.5rem 0 4rem !important;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8) !important;
  cursor: pointer;
  transition: all 0.2s;
}
.auth-form-forgot:hover {
  color: #000 !important;
}
.auth-form-input {
  border: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  font-size: 1.6rem;
  padding: 1rem;
  height: 3rem;
}
.auth-form-input-hidden {
  display: none;
}
.auth-form-input-profile {
  position: relative;
  border: 1px solid #AEAEAE;
  border-radius: 1rem;
  margin: 2rem auto;
  width: 20rem;
  cursor: pointer;
  background-color: #F9F9F9;
  transition: all 0.2s;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.auth-form-input-profile-cross {
  position: absolute;
  top: 2rem;
  background-color: #fff;
  padding: 0.2rem;
  height: 2rem;
  border-radius: 100%;
  display: flex;
  transition: all 0.2s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  width: 2rem;
  right: 3rem;
}
.auth-form-input-profile-cross:hover {
  transform: scale(1.1);
}
.auth-form-input-profile-cross-icon {
  font-size: 2rem !important;
}
.auth-form-input-profile-image {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.auth-form-input-profile-icon {
  font-size: 2rem !important;
}
.auth-form-input-profile p {
  font-size: 1.4rem;
  margin: 0 auto 1.5rem;
}
.auth-form-input-profile:hover {
  background-color: #fff;
}
.auth-form-input:focus {
  outline: none;
}
.auth-form-input:not(:last-child) {
  border-bottom: none;
}
.auth-form-input:nth-child(1) {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.auth-form-input:last-child {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.home {
  padding: 4rem;
}
.home-header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.home-header-para-success {
  padding: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
.home-header-para-success svg {
  margin-right: 1rem;
}
.home-header-para-general {
  padding: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
.home-header-para-general svg {
  margin-right: 1rem;
}
.home-header-top-input {
  width: 55rem;
  margin-top: 1rem;
  justify-content: space-between;
  display: flex;
}
.home-header-top-input-each {
  width: 25rem;
}
.home-header-top-input-each-text {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.home-header-top-name {
  font-size: 2rem;
  font-weight: 700;
}

.poll {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  height: 100vh;
}
.poll-container {
  width: 100%;
  max-width: 100rem;
}
.poll-arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.poll-arrows svg {
  cursor: pointer;
  transition: all 0.2s;
}
.poll-arrows svg:hover {
  transform: scale(1.2);
}
.poll-arrows-right {
  margin: 0 0 0 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.poll-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll-general-key {
  width: 15rem;
  margin-right: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-height: 8rem;
  height: 100%;
}
.poll-general-key * {
  margin: 0;
}
.poll-general-key-each {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  transition: all 0.2s;
  cursor: pointer;
  width: 1rem;
  border-radius: 100%;
  height: 1rem;
  background-color: #C4C4C4;
}
.poll-general-key-each-filled {
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.poll-general-key-each-selected {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.poll-general-key-each-unselected {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.poll-general-key-each:hover {
  transform: scale(1.3);
}
.poll-general-question {
  width: 100%;
  max-width: 50rem;
}
.poll-general-question-answer {
  width: 100%;
  margin: 3rem 0 0;
}
.poll-general-question-answer-each {
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: 600;
  transition: transform 0.2s;
  cursor: pointer;
  padding: 1rem;
  height: 4rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
.poll-general-question-answer-each-selected {
  background-color: #000 !important;
  color: #fff !important;
}
.poll-general-question-answer-each:hover {
  transform: scale(1.05);
}
.poll-general-question-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.profile {
  padding: 4rem;
}
.profile-dropdown {
  border: 1px solid #AEAEAE;
  max-height: 15rem;
  overflow: auto;
  z-index: 20;
  background-color: #F9F9F9;
  border-radius: 1rem;
  width: 25rem;
  transition: opacity 0.2s;
  position: absolute;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0rem 1rem;
}
.profile-dropdown-politician {
  object-fit: cover;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-dropdown-politician img {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}
.profile-edit {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin: 2rem 0;
}
.profile-edit-politician {
  max-width: 50%;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}
.profile-edit-politician-each {
  cursor: pointer;
  margin: 1rem auto;
  display: flex;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
}
.profile-edit-politician-each:hover {
  background-color: #F9F9F9;
  transform: skew(-4deg);
}
.profile-edit-politician-each img {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}
.profile-edit-each {
  position: relative;
  width: 100%;
}
.profile-edit-each-dropdown {
  border: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  border-radius: 1rem;
  width: 90%;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0rem 1rem;
}
.profile-edit-each-container {
  width: 100%;
}
.profile-edit-each-container input {
  width: 90%;
}
.profile-edit-each-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.profile-header {
  display: flex;
  justify-content: space-between;
}
.profile-header-left {
  display: flex;
  align-items: center;
}
.profile-header-left-image {
  width: 15rem;
  height: 15rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 100%;
}
.profile-header-left-name {
  margin: 0;
  font-size: 2.5rem !important;
}
.profile-header-left-name-icon {
  font-size: 2.5rem !important;
  color: #000 !important;
  cursor: pointer;
}
.profile-header-left-content {
  font-weight: 300;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.profile-map-legend {
  display: flex;
  margin: 0 0 2rem;
  border-radius: 1rem;
  align-items: center;
}
.profile-map-legend p {
  margin: 0;
  font-size: 1.2rem;
}
.profile-map-legend-marker {
  margin-right: 1rem;
  background-color: #FFA9A9;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.profile-map-content {
  position: relative;
  max-width: 40rem;
  max-height: 40rem;
}
.profile-map-content-map {
  width: 100%;
  height: 100%;
}
.profile-map-content-marker {
  position: absolute;
  background-color: #FFA9A9;
  width: 1rem;
  content: " ";
  transform: translate(-30%, -85%);
  height: 1rem;
  border-radius: 100%;
  top: 4rem;
}
.profile-map-title {
  font-size: 2.5rem;
}
.profile-demographics {
  margin-top: 1rem;
  padding: 1.4rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.profile-demographics-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-demographics-each:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-demographics-each-content {
  font-size: 1.4rem;
}
.profile-demographics-each-title {
  font-weight: 600;
  font-size: 1.4rem;
}
.profile-body {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dashboard {
  padding: 2rem;
}
.dashboard-header {
  margin-bottom: 4rem;
}
.dashboard-header-name {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.dashboard-header-welcome {
  margin-top: 0;
  font-size: 1.6rem;
}
.dashboard-row {
  margin: 2rem 0 6rem;
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.dashboard-row-mod {
  min-width: 38rem;
  margin-right: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 1.4rem;
  border-radius: 1rem;
}
.dashboard-row-mod-input {
  padding: 0 0 2rem;
  margin: 1.4rem 0 0;
}
.dashboard-row-mod-input input {
  border: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  width: calc(100% - 2rem);
  font-size: 1.6rem;
  padding: 1rem;
  height: 3rem;
}
.dashboard-row-mod-input input:focus {
  outline: none;
}
.dashboard-row-mod-input:not(:last-child) {
  border-bottom: 1px solid #AEAEAE;
}
.dashboard-row-mod-input p {
  font-size: 1.2rem;
}
.dashboard-row-mod h3 {
  padding: 0 0 2rem;
  border-bottom: 1px solid #AEAEAE;
  margin: 1.4rem 0 0;
}
.dashboard-row-mod-container {
  max-height: 30rem;
  overflow: auto;
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin: 1rem 0;
}
.dashboard-row-mod-container-politicians-each {
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  border-bottom: solid 1px rgba(0, 0, 0, 0.11);
  align-items: center;
}
.dashboard-row-mod-container-politicians-each p {
  font-size: 1.3rem;
  width: 30%;
}
.dashboard-row-mod-container-politicians-each img {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  padding: 2rem;
  border-radius: 3rem;
}
.dashboard-row-mod-container-each {
  overflow: auto;
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.dashboard-row-mod-container-each-name {
  text-align: left;
  min-width: 15rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}
.dashboard-row-mod-container-each-alter {
  display: flex;
  align-items: center;
  min-width: 3rem;
  margin-left: 1rem;
  justify-content: space-between;
}
.dashboard-row-mod-container-each-alter * {
  cursor: pointer;
}
.dashboard-row-mod-container-each-admin {
  text-align: left;
  min-width: 9rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}
.dashboard-row-mod-container-each:not(:last-child) {
  border-bottom: 1px solid #AEAEAE;
}
.dashboard-row-mod-container-each-img {
  width: 4rem;
  margin: 2rem 0;
  border-radius: 100%;
}
.dashboard-row-mod-container::-webkit-scrollbar {
  width: 0.5rem;
}
.dashboard-row-mod-link {
  min-width: 14rem;
  margin-right: 4rem;
  color: #fff;
  transition: all 0.2s;
  text-decoration: none !important;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
}
.dashboard-row-mod-link:hover {
  transform: scale(1.04);
}
.dashboard-row-item {
  margin-right: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 1.4rem;
  min-width: 15rem;
  border-radius: 1rem;
}
.dashboard-row-item-link {
  margin: 0;
  text-decoration: none !important;
  font-size: 1.6rem;
}
.dashboard-row-item-header {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}
.dashboard-row-item p {
  font-size: 1.5rem;
}
.dashboard-title {
  font-size: 1.7rem;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px #AEAEAE;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #AEAEAE;
}
.app {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
}
.app-right {
  width: calc(100vw - 10rem);
  max-height: 100vh;
  padding: 0 2rem;
  overflow: auto;
}

/*# sourceMappingURL=index.css.map */
