@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.button-large {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #000;
  transition: all 0.2s !important;
}
.sidebar {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  height: calc(100vh - 4rem);
  padding: 2rem 1rem;
}
.sidebar-each {
  position: relative;
  width: 100%;
  text-align: center;
}
.sidebar-each:hover .sidebar-each-toolkit {
  opacity: 1;
  transform: translate(5rem, 0%);
}
.sidebar-each-toolkit {
  transition: opacity 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-200%, 0%);
  z-index: 4;
  opacity: 0;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 1rem;
  width: 8rem;
}
.sidebar-each-toolkit-each {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: left;
  transition: all 0.1s;
  font-weight: 400;
  padding: 1rem 0.1rem;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
}
.sidebar-each-toolkit-each:not(:last-child) {
  border-bottom: 0.5px solid #AEAEAE;
}
.sidebar-each-toolkit-each:hover {
  font-size: 1.6rem;
}
.sidebar-icon {
  margin: 1.5rem auto;
  cursor: pointer;
  transition: all 0.1s;
}
.sidebar-icon-active {
  filter: brightness(0.1) sepia(0.2) hue-rotate(0deg) saturate(0);
}
.sidebar-icon:hover {
  transform: scale(1.2);
  filter: brightness(0.1) sepia(0.2) hue-rotate(0deg) saturate(0);
}

.auth {
  max-width: 50rem;
  margin: 0 auto;
  padding: 6rem 0;
  overflow: auto;
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.auth-2 {
  justify-content: flex-start;
}
.auth-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start !important;
  text-decoration: none !important;
}
.auth-back-text {
  margin-left: 0.5rem;
  font-weight: 600;
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.8rem;
}
.auth-back-text:hover {
  color: black;
}
.auth-header {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
}
.auth-redirect {
  font-size: 1.8rem;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.auth-redirect-link {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.auth-redirect-link:hover {
  color: black;
}
.auth-google {
  width: 9rem;
  padding: 2rem;
  margin: 2rem auto !important;
}
.auth-google-icon {
  cursor: pointer;
  transition: all 0.2s !important;
  font-size: 4rem !important;
}
.auth-google-icon:hover {
  color: #000000;
  transform: scale(1.1);
}
.auth-google-or {
  font-size: 2rem;
  margin: auto auto 1rem;
}
.auth-form {
  text-align: left;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.auth-form-title-2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem auto 4rem;
}
.auth-form-title {
  font-size: 2rem;
  font-weight: 700;
}
.auth-form-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.auth-form-forgot {
  margin: 1.5rem 0 4rem !important;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8) !important;
  cursor: pointer;
  transition: all 0.2s;
}
.auth-form-forgot:hover {
  color: #000 !important;
}
.auth-form-input {
  border: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  font-size: 1.6rem;
  padding: 1rem;
  height: 3rem;
}
.auth-form-input-hidden {
  display: none;
}
.auth-form-input-profile {
  border: 1px solid #AEAEAE;
  border-radius: 1rem;
  margin: 2rem auto;
  width: 20rem;
  cursor: pointer;
  background-color: #F9F9F9;
  transition: all 0.2s;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.auth-form-input-profile-icon {
  font-size: 2rem !important;
}
.auth-form-input-profile p {
  font-size: 1.4rem;
  margin: 0 auto 1.5rem;
}
.auth-form-input-profile:hover {
  background-color: #fff;
}
.auth-form-input:focus {
  outline: none;
}
.auth-form-input:not(:last-child) {
  border-bottom: none;
}
.auth-form-input:nth-child(1) {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.auth-form-input:last-child {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px #AEAEAE;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #AEAEAE;
}
.app {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
}
.app-right {
  width: calc(100vw - 6rem);
  max-height: 100vh;
  overflow: auto;
}

/*# sourceMappingURL=index.css.map */
